/src/packages/dal-layer/src/dal/repository @egliksberg @project_7998_bot @project_7998_bot1
/src/packages/dal-layer/src/dal/service @egliksberg @project_7998_bot @project_7998_bot1
/src/packages/dal-layer/src/dal/utils @egliksberg @project_7998_bot @project_7998_bot1
